h1 {
  color: goldenrod;
  font-style: italic;
}

.note {
  color: purple;
  padding-top: 0.5rem;
  font-size: 15px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 1.3rem;
  border-style: solid;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
